.add-song-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

.add-song-container h3 {
  margin-bottom: 10px;
}

.add-song-container form div {
  margin-bottom: 10px;
}

.add-song-container input {
  padding: 5px;
  width: 100%;
}

.add-song-container button {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
