.playlists-songs-component {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 400px;
  margin: 20px auto;
}

.playlists-songs-component h2 {
  margin-top: 0;
}

.playlists-songs-component ul {
  list-style-type: none;
  padding-left: 0;
}

.playlists-songs-component li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.playlists-songs-component li:last-child {
  border-bottom: none;
}
