.song {
  border: 1px solid black;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  background-color: #2c2c2c;
  color: black;
}

.song-title {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.song-artist, .song-album, .song-genre, .song-release-year, .song-duration {
  font-size: 1em;
  margin: 4px 0;
}
